    div>h1 {
        font-family: sans-serif;
        font-weight: 900;
        color: #fff;
        letter-spacing: 15px;
        text-align: center;
        -webkit-box-shadow: 0px 0px 31px 14px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 31px 14px rgba(0,0,0,1);
box-shadow: 0px 0px 31px 14px rgba(0,0,0,1);

        }

        @keyframes rainbow {
            0% {background-color: #FF0000;}
            10% {background-color: #E2571E;}
            20% {background-color: #FF7F00;}
            30% {background-color: #FFFF00;}
            40% {background-color: #00FF00;}
            50% {background-color: #96bf33;}
            60% {background-color: #0000FF;}
            70% {background-color: #4B0082;}
            80% {background-color: #8B00FF;}
            90% {background-color: #222222;}
            100% {background-color: #FF0000;}
            }

            div {
                padding: 40px 0px;
                color: #fff;
                animation: rainbow 5s ease-in infinite;
                }

body {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px){
    div {
        width: 100%;
    }
    .swinka {
        justify-content: center;
    }
}
